body {
    padding: 0px 20px 0px 20px;
}

h1 {
    text-align: center;
    font-size: 2.3em;
}
h2 {
    text-decoration: underline;
}

#juego {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    border: 2px solid black;
    text-align: center;

}

#partida {
    flex-grow: 2;
    flex-basis: auto;
    min-width: 350px;
    background-color: #CABEFF;
}

#estado-partida {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
}

#intentos {
    margin-right: 15px;
}

#intentos, #resultado {
    font-weight: bold;
    font-size: 1.2em;
}

#juego aside {
    flex-grow: 1;
    flex-basis: auto;
    flex-direction: column;
    display: flex;
    text-align: center;
}

#estadisticas {
    background-color: #988EBF;
    flex-grow: 1;
}

#estadisticas table {
    margin: auto;
    font-family: monospace; 
    font-size: 1.3em;
}

#estadisticas thead tr {
    padding: 8px;   
}

#estadisticas thead th {
    font-size: 0.9em;    
}

#estadisticas tbody tr {
    text-align: right;
    padding: 5px;
}

#estadisticas tbody tr:nth-child(2n){
    background-color: #a0a1c5;
}

#estadisticas tbody td {
    text-align: center;
}

#estadisticas tbody th {
    font-size: 0.8em;
    text-align: justify;
}

#estadisticas tbody tr[data-tipo="total"] {
    background-color: #EAB1FF;
    font-size: 1.1em;
}

#configuracion {
    background-color: #655F7F;
    padding: 0px 0px 10px 0px;
}


#configuracion div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#configuracion div label {
    display: block;
    width: 40%;
    text-align: left;
    padding: 3px;
}

#configuracion div select {
    text-align-last: center;
    width: 40%;
}

#configuracion div button {
    text-align: center;
    width: 40%;
    padding: 4px; 
    margin: 3px 0px 3px 0px;
    font-weight: bold;
    cursor: pointer;
}



.carta {
    border: 2px solid black;
    border-radius: 10%;
    cursor: pointer; 
    width: 70px;
    height: 130px;
    margin: 3px;
    font-size: 3em;
    text-align: center;
    box-shadow: grey 5px 5px 5px;
    text-shadow: white 5px 5px 5px;
}



#tablero div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15px;
}


.abajo {
    background-color: #6d695c;
    background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1), 
        rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        repeating-linear-gradient(60deg, rgba(255,255,255,.1), 
        rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
        linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, 
        transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
        linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, 
        transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
}

.arriba {
    background-color: lightyellow;
}

#botones-estadisticas {
    padding: 10px;
    text-align: center;
}

footer {
    padding: 20px 0px 20px 0px;
}

@media (max-width: 900px) {
    #configuracion div label, #configuracion div button {
        width: 60%;
    }

}
 
@media (max-width: 430px) {
    body {
        font-size: 0.8em;
    }

    #configuracion div label, #configuracion div button {
        width: 80%;
        font-size: 1em;
    }

    #configuracion div select {
        width: 50%;
        font-size: 1em;
    }

    .carta {
        border: 1px solid black;
        height: 50px;
        width: 30px;
        margin: 3px;
        font-size: 1.6em;
        box-shadow: grey 2px 2px 2px;
        text-shadow: white 2px 2px 2px;
    }  
    #partida {
        flex-grow: 2;
        flex-basis: auto;
        min-width: 200px;
    }

}
